<h1><%= "#{@chef.name}'s Ingredients" %></h1>

<section id="ingredients">
<ul>
<% @ingredients.each do |ingredient| %>
    <li>
    <%= "#{ingredient.name} - #{ingredient.calories} calories" %>
    </li>
<% end %>
</ul>
</section>