<h1><%=  "Chef #{@chef.name} Ingredients Index Page" %></h1>

<section id="ingredients">
<% @chef.ingredients.each do |ingredient| %>
  <section id= "<%= ingredient.name.parameterize %>">
    <%= ingredient.name %>
  </section>
<% end %>
</section>