<h1> <%= @dish.name %> </h1>
<h3> <%= @dish.description %> </h3>

<h4> Ingredients: </h4>

<% @dish.ingredients.each do |ing| %>
  <%= ing.name %> <br/>
<% end %>

<p> Chef: <%= @dish.chef.name %> </p>
